extends template

block append scripts
  script(src='js/jquery.tableedit.min.js')
  script.
      $(document).ready(function() {
      var t = $('#istavritytable').DataTable({
        responsive: true,
        "paging": false,
        "bFilter": false,
        "sPaginationType": "bootstrap", 
        "bInfo": false,
        scrollY : true,
        //scrollX:        true,
        columnDefs: [{
          //width: '20%',
            orderable: false,
            targets: [0,1,2,3,4,5,6]
           
        }]
                 });
      $.ajax({
      type: "GET",
      url: "/api/istavrity/members/",
            }).done(function(data){
      //  console.log("Response is:"+data.id+"-"+data.name);
      var index=0;
      $.each(data, function(item, obj) {
      
                t.row.add(
                [ 
                `<input name="membername" readonly="readonly" value=`+obj.MEMBER_NAME+`>`,
                `<input name="ritwikname" readonly="readonly" value="RITWIK NAME" >`,
                `<input type="number" value=0  name="swastyani" id="swastayani${index}" required>`,
                `<input type="number" min="1" value=0 name="istavrity" id="istavirty${index}" required>`,
                `<input type="number" min="0" value=0 name="pronami" id="pronami${index}" required>`,
                `<input type="number" min="0" value=0 name="misc" id="misc${index}" required>`,
               `<input type="text"  name="miscdesc" id="miscdesc${index}"/>`,
                ]).draw();
                            index++;
                                         })
                     })

    });

  // below ajax is for submitting istavrity - need to be uncomented if form way failes  
  //- script.
  //-  $(document).ready(function() {
  //-       $("#submitistavrity").on('click', function(){
  //-            $("#error").hide();
  //-           console.log("Submitted");
  //-          // var t = $('#istavritytable').DataTable();
  //-           //console.log(t.rows);
  //-            var a = $("#istavritytable").children("tbody").children("tr").each(function(){

  //-                var cols=$(this).children("td");
                 
  //-                var membername=cols[0].firstChild.getAttribute('value');
  //-                var ritwikname=cols[1].firstChild.getAttribute('value');
  //-                var swastayani=cols[2].firstChild.value;
  //-                var istavrity=cols[3].firstChild.value;
  //-                var pronami=cols[4].firstChild.value;
  //-                var miscellenous=cols[5].firstChild.value;
  //-                var miscellenousdesc=cols[6].firstChild.value;
  //-                if(parseInt(swastayani)<0){
  //-                 $("#error").html("Value cant be negative");
  //-                    return;
  //-                }

  //-                 $.ajax({
  //-                           type: "POST",
  //-                           url: "/api/istavrity/",
  //-                           data:{
                           
  //-                          "year":$("#ui-datepicker-div .ui-datepicker-year :selected").text(),
  //-                          "month":$("#ui-datepicker-div .ui-datepicker-month :selected").text(),
  //-                          "membername" :membername,
  //-                          "ritwikname":ritwikname,
  //-                          "swastayani":swastayani,
  //-                          "istavrity":istavrity,
  //-                          "pronami":pronami,
  //-                          "miscellenous":miscellenous,
  //-                          "miscellenousdesc":miscellenousdesc
  //-                           }
  //-                                   }).done(function(data){
  //-                                     if(data.error.includes("Duplicate")){
  //-                                       console.log("eror:"+data.error);
                                       
  //-                                     $("#error").html("Form Already Submitted For the Month-Year");
  //-                                     }
  //-                                    // console.log("data"+data.error);
  //-                                   })
  //-                                   .fail(function (jqXHR, textStatus){
  //-                                    console.log("error:"+textStatus);
  //-                                   })
              
  //-               });
      
  //-       })
  //-  });

            
  script.
       jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
            return this.flatten().reduce( function ( a, b ) {
                if ( typeof a === 'string' ) {
                    a = a.replace(/[^\d.-]/g, '') * 1;
                }
                if ( typeof b === 'string' ) {
                    b = b.replace(/[^\d.-]/g, '') * 1;
                }
        
                return a + b;
            }, 0 );
            } );
  script.
         function getSum(col){
           
            var sum=0;
               $("tr").each(function(rowindex) {
                    $(this).find("td:nth-child(" + col + ")").each(function(rowindex) {
                        newval = $(this).find("input").val();
                      
                        if (isNaN(newval)) {
                            
                        sum += 0;
                         
                        } else {
                        
                          if(newval==''){
                              newval=0;
                          }
                        sum += parseInt(newval);
                       
                        }
                    });
                   
                    });
                    
                    return sum;
                       }
           $(document).ready(function() {
             
         $("#submit").on('click',function(){
               // console.log("Submit clicked");
               // console.log( "sum outside:"+getSum(3));
               document.getElementById("totalSwastayani").value=getSum(3);
               document.getElementById("totalIstavrity").value=getSum(4);
               document.getElementById("totalPronami").value=getSum(5);
               document.getElementById("totalMiscellenous").value=getSum(6);
               document.getElementById("total").value=getSum(3)+getSum(4)+getSum(5)+getSum(5);
           });
           });
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
  link(rel='stylesheet', type='text/css', media='screen', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css')

  script(type='text/javascript').
          $(function() {
          $('.date-picker').datepicker( {
          changeMonth: true,
          changeYear: true,
          showButtonPanel: true,
          dateFormat: 'MM yy',
          onClose: function(dateText, inst) {
          $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
          }
          });
          });
  style.
        .ui-datepicker-calendar {
        display: none;
        }


         
block content
  

 
  div
    br
    
    br
    br
    span(style='font-size:30px;margin-left:40%;margin-top:10px;')
      strong|Enter Istavrity Details
    br
    br
    h3(style='color:red')
      error= errorMsg

    br
    br
    //form
    form(action="/api/istavrity/",method='post')
      input#startDate.date-picker(name="istavrityDate")
      div.table-responsive
        table#istavritytable.table
            thead.thead-dark
                tr(style='background-color: #6d7993;')
                  th(scope="col") Name
                  th(scope="col") Ritwiks' Name
                  th(scope="col") Swastayani
                  th(scope="col") Istavrity
                  th(scope="col") Pronami
                  th(scope="col") Miscellenous
                  th(scope="col") Miscellenous_Desc 
      br
      
      br   
      button.btn#submitistavrity(type="submit")|SUBMIT
    |TOTALS:
    input#totalSwastayani(name='totalSwastayani',readonly="true")
    input#totalIstavrity(name='totalIstavrity',readonly="true")
    input#totalPronami(name='totalPronami',readonly="true")
    input#totalMiscellenous(name='totalMiscellenous',readonly="true")
    br
    input#total(name='total',readonly="true")
    br
    button#submit.btn.btn-success|CALCULATE TOTAL             