extends template

block append scripts
    
  script.
       $(document).ready(function() {
          
           $('#istavritytable2 input:not([readonly])').change(function(){
               console.log("Value Changed");
                document.getElementById("totalSwastayani").value=getSum(3);
               document.getElementById("totalIstavrity").value=getSum(4);
               document.getElementById("totalPronami").value=getSum(5);
               document.getElementById("totalMiscellenous").value=getSum(6);
               var calcTotal=getSum(3)+getSum(4)+getSum(5)+getSum(6);
               document.getElementById("caltotal").value=calcTotal;
               var fees= (((calcTotal+0.3)/0.982-calcTotal).toFixed(2));
               document.getElementById("procfees").value=fees;
               var totalfees=(parseFloat(calcTotal)+parseFloat(fees));
               document.getElementById("total").value=totalfees;
              });
    
         
        
    });
  script.
         function getSum(col){
           
            var sum=0;
               $("tr").each(function(rowindex) {
                    $(this).find("td:nth-child(" + col + ")").each(function(rowindex) {
                        newval = $(this).find("input").val();
                      
                        if (isNaN(newval)) {
                            
                        sum += 0;
                         
                        } else {
                        
                          if(newval==''){
                              newval=0;
                          }
                        sum += parseInt(newval);
                       
                        }
                    });
                   
                    });
                    
                    return sum;
                       }
      
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
  link(rel='stylesheet', type='text/css', media='screen', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css')

  script(type='text/javascript').
          $(function() {
          $('.date-picker').datepicker( {
          changeMonth: true,
          changeYear: true,
          showButtonPanel: true,
          dateFormat: 'MM yy',
          onClose: function(dateText, inst) {
          $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
          }
          });
          });
  style.
        .ui-datepicker-calendar {
        display: none;
        };
  script(type='text/javascript').
         $(document).ready(function() {
          $('#istavritytable input:not([readonly])').change(function(){
            console.log("Value Changed");
 
         });
         $("#ui-datepicker-div").css("display","none");
         });


         
block content
  

 
  div
    br
   
    span(style='font-size:4vw;display:flex;justify-content:center')
      strong(style='')
        |Enter Istavrity Details
   
    br
    h3(style='color:red')
      error= errorMsg

   
    //form
    form(action="/api/istavrity/",method='post')
      strong
        |SELECT MONTH-YEAR: 
      input#startDate.date-picker(name="istavrityDate",required)
      br
      div.table.table-responsive(style="margin-top:1%")
        table#istavritytable2.table-striped(style="margin:auto")
            thead.thead-dark
                tr(style='background-color: #6d7993;')
                  th Name
                   //  td Name
                  th Ritwiks' Name
                   //td.col-sm-8 Ritwiks' Name
                  th Swastayani
                  th Istavrity
                  th Pronami
                  th Miscellenous
                  th Miscellenous_Desc
            tbody
                each obj in rows
                 
                  tr
                    td
                      input(name="membername",readonly="readonly",value=""+obj.MEMBER_NAME+"")
                    td
                      input(name="ritwikname",readonly="readonly",value=""+obj.RITWIKNAME+"")                    
                    td
                      input(type="number",min="0" value=0,name="swastyani",id="swastayani${index}",required)
                    td
                      input(type="number",min="1" value=0,name="istavrity",id="istavirty${index}",required)
                    td
                      input(type="number",min="0",value=0,name="pronami",id="pronami${index}",required)
                    td
                      input(type="number",min="0",value=0,name="misc",id="misc${index}",required)
                    td  
                      input(type="text",name="miscdesc" id="miscdesc${index}")
              
      br
     
      div(style="display:none")
        input#totalSwastayani(name='totalSwastayani',readonly="true",style=("margin-left:17%;width:10%"))
        input#totalIstavrity(name='totalIstavrity',readonly="true",style=("margin-left:2%;width:10%"))
        input#totalPronami(name='totalPronami',readonly="true",style=("margin-left:2%;width:10%"))
        input#totalMiscellenous(name='totalMiscellenous',readonly="true",style=("margin-left:2%;width:10%"))
      br
      div(style=("margin-left:20%"))
       table.table(style=("width:50%;border: 1px solid black;"))
        thead.thead-dark
          tr
            th SUMMARY
            th AMOUNT
        tbody
          tr
            td CALCULATED TOTAL: 
            td 
              input#caltotal(name='caltotal',readonly="true")
          tr
            td PROCESSING FEES: 
            td 
              input#procfees(name='procfees',readonly="true")
          tr
            td  FINAL TOTAL: 
            td 
              input#total(name='finaltotal',readonly="true")
       button#calculateTotal2.btn.btn-success(type="submit",style=("margin-left: 15%;margin-bottom: 10%;"))|Proceed To Payment
        br
      
     

      //button.btn#submitistavrity(type="submit")|SUBMIT